*{

padding:0px;
margin:0px;


}

.maincolor{

background-color:#062134;
}

.lightblue{

background-color:#187ddb


}
.darkbluewording{

color:#1993de;

}
.white{


background-color:white;

}

.buttoncolor{

background-color:#1993de;
}

.babybluewording{

color:#daedff;

}